@model List<ArtBase.Models.WatchListsModel>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">İzlediklerim</h1>

    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var item in Model)
            {
                
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="@item.PosterPath" alt="@item.Title" />
                        <div class="card-body">
                            <form asp-action="RemoveFromWatchlist" method="post">
                                <input type="hidden" name="id" value="@item.WatchlistID" />
                                <h5 class="card-title">@item.Title</h5>
                                <p><strong>Süre:</strong> @(item.Runtime.HasValue ? item.Runtime + " dakika" : "Bilinmiyor")</p>
                                <p class="card-text">@item.Overview</p>
                                <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-center text-muted">Watchlist boş.</p>
    }
</div>
